{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h5 class="mb-0" style="color:#1B5E7B">
    <i class="bi bi-file-earmark-plus me-1"></i>
    {{ 'Редактировать обращение' if req else 'Новое обращение' }}
  </h5>
  <a href="{{ url_for('requests.index') }}" class="btn btn-sm btn-outline-secondary">
    <i class="bi bi-arrow-left"></i> Назад
  </a>
</div>

<form method="post" enctype="multipart/form-data" id="mainForm" novalidate>
<input type="hidden" name="action" id="ocrActionInput" value="save">

{% include 'partials/form/_section_service.html' %}
{% include 'partials/form/_section_files.html' %}
{% include 'partials/form/_section_applicant.html' %}
{% include 'partials/form/_section_project.html' %}
{% include 'partials/form/_section_investments.html' %}
{% include 'partials/form/_section_site.html' %}
{% include 'partials/form/_section_engineering.html' %}
{% include 'partials/form/_section_transport.html' %}
{% include 'partials/form/_section_location.html' %}
{% include 'partials/form/_section_extra.html' %}
{% include 'partials/form/_buttons.html' %}

</form>

{% include 'ocr_preview.html' %}
{% include 'partials/form/_scripts.html' %}

{% endblock %}
